.card img {
  width: 250px;
  transition: transform 0.2s;
}

.card img:hover {
  transform: scale(1.1);
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.main-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 15px;
}

body {
  background-color: rgb(23, 16, 56);
  font-family: "Roboto", sans-serif;
  color: white;
}

button {
  background-color: rgb(162, 163, 197);
  font-family: "Roboto", sans-serif;
  color: rgb(23, 16, 56);
  font-size: 18px;
  padding: 4px;
  font-weight: bold;
}

button:hover {
  box-shadow: 0 8px 16px 0 rgb(189, 158, 89);
}

select {
  font-size: 18px;
}

label {
  font-size: 20px;
}

.builder-header {
  font-size: 40px;
}
